li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.1rem;
}

.keyword {
  position: relative;
  width: 50%;
}

.keyword:hover .tooltip {
  visibility: visible;
}

.save {
  margin-top: 0.5rem;
  background-color: #0d6efd;
}

.tooltip {
  position: absolute;
  z-index: 999;
  background-color: white;
  padding: 0.1rem;
  left: 0;
  top: 0;
  visibility: hidden;
}

button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.2rem;
}

button:hover {
  cursor: pointer;
}
