li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.1rem;
}

span {
  min-width: 50%;
}

#save {
  margin-top: 0.5rem;
  background-color: #0d6efd;
}

button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.2rem;
}

button:hover {
  cursor: pointer;
}
